@import '../../../../scss/colors';

.nav-menu {
  top: 0;
  position: relative;
  height: 70px;
  width: 100%;
  background-color: $menu-bar-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $main-font-color;
  z-index: 1;
  .links-wrapper, .title-wrapper {
    margin: 0 10px;
  }
  .link, .title {
    font-weight: 600;
    font-size: 24px;
  }
  .link {
    margin: 0 10px;
    cursor: pointer;
    color: $main-font-color;
    text-decoration: none;
  }
  .link:visited {
    color: $main-color;
  }
}


