@import '../../scss/colors';

.profession-section {
  width: 100%;
  height: 100vh;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header {
    font-size: 48px;
    margin-bottom: 50px;
    color: $main-font-color;
  }
}